.listing-field {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
}
body {
  background-color: #f8f9fa;
  color: #000000;
  font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  font-size: 12pt;
}
h1 {
  color: #000000;
  font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  font-size: 18pt;
}
p,
li {
  color: #000000;
  font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  font-size: 12pt;
}
.control-label {
  color: #000000;
  font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  font-size: 12pt;
}
.form-group {
  margin-bottom: 1rem !important;
}

.captcha {
  width: 15%;
  min-width: 120px;
  display: inline;
}

.form-control {
  margin-bottom: 5px;
  font-size: 12pt !important;
}

.textend {
  margin-top: 15px;
  margin-bottom: 15px;
}

.checkbox {
  margin-top: 0px;
}

.radio {
  margin-top: 0px;
}

.zwtext {
  margin-top: 10px;
  margin-bottom: 10px;
}

.input-file {
  border-width: 0px;
  height: 100%;
  background-color: transparent;
}

body {
  margin-top: 15px;
  line-height: 1.5 !important;
}

h3 {
  font-size: 1.3rem;
}
